---
import Navbar from 'components/devFest2025/navbar/Navbar.astro';
import Map from 'components/devFest2025/map/map.astro';
import Layout from 'layouts/Layout.astro';
import Footer from 'components/devFest2025/footer/footer.astro';
import Sponsors from 'components/devFest2025/sponsors/Sponsors.astro';
---

<Layout title='DevFest'>
	<Navbar />
	<div class='h-[64px] lg:h-[80px]'></div>
	<Map />
	<Sponsors />
	<Footer	/>
</Layout>
